@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #e3b04b;
  color: #2b2b2b;
}

.react-datepicker-popper {
  z-index: 99 !important;
}

.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #e3b04b !important;
}

::-webkit-scrollbar-track {
  background-color: #2b2b2b;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background-color: #e3b04b;
  border-radius: 8px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.load {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #e3b04b;
  border-bottom: 10px solid #e3b04b;
  animation: rotate 1.8s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
